2-type de donnees
[
    {
        "id": "ad90bf10.97065",
        "type": "tab",
        "label": "2-type de donnees"
    },
    {
        "id": "2fdb09bc.8af526",
        "type": "inject",
        "z": "ad90bf10.97065",
        "name": "message text",
        "topic": "",
        "payload": "un premier message texte",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 245,
        "y": 141.50000095367432,
        "wires": [
            [
                "ffa990c9.8ca71"
            ]
        ]
    },
    {
        "id": "ffa990c9.8ca71",
        "type": "debug",
        "z": "ad90bf10.97065",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 523.7500038146973,
        "y": 139.00000095367432,
        "wires": []
    },
    {
        "id": "6ca80aca.743a54",
        "type": "debug",
        "z": "ad90bf10.97065",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 503.25,
        "y": 412,
        "wires": []
    },
    {
        "id": "332f9d52.ef3472",
        "type": "inject",
        "z": "ad90bf10.97065",
        "name": "message numerique",
        "topic": "",
        "payload": "1234",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 258.75000381469727,
        "y": 291.50000381469727,
        "wires": [
            [
                "4ac0470d.1b08b8"
            ]
        ]
    },
    {
        "id": "4ac0470d.1b08b8",
        "type": "debug",
        "z": "ad90bf10.97065",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 517.5000038146973,
        "y": 289.00000190734863,
        "wires": []
    },
    {
        "id": "c1065ad9.7424e8",
        "type": "inject",
        "z": "ad90bf10.97065",
        "name": "message JSON",
        "topic": "",
        "payload": "{ \"nom\": \"Belleau\", \"prenom\": \"Francois\", \"age\": 53 }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 252.50002670288086,
        "y": 407,
        "wires": [
            [
                "4ac0470d.1b08b8",
                "6ca80aca.743a54"
            ]
        ]
    },
    {
        "id": "46bd036c.27a77c",
        "type": "comment",
        "z": "ad90bf10.97065",
        "name": "node-red data type",
        "info": "http://www.w3schools.com/js/js_datatypes.asp\n\nhttps://nodered.org/docs/\n\nhttps://flows.nodered.org/",
        "x": 243.24999618530273,
        "y": 80,
        "wires": []
    },
    {
        "id": "9824f9e1.daaa58",
        "type": "inject",
        "z": "ad90bf10.97065",
        "name": "message date de maintenant",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 276.24999618530273,
        "y": 217.75,
        "wires": [
            [
                "4ac0470d.1b08b8"
            ]
        ]
    }
]
