3-payload en JSON
[
    {
        "id": "1938a855.3df608",
        "type": "tab",
        "label": "3-payload en JSON"
    },
    {
        "id": "39cbe541.1b44ca",
        "type": "inject",
        "z": "1938a855.3df608",
        "name": "inject JSON",
        "topic": "",
        "payload": "{\"nom\":\"Belleau\",\"prenom\":\"Francois\",\"age\":53}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 397.50000762939453,
        "y": 162.50000190734863,
        "wires": [
            [
                "797bde2a.2ff2"
            ]
        ]
    },
    {
        "id": "797bde2a.2ff2",
        "type": "debug",
        "z": "1938a855.3df608",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 913.25,
        "y": 164.25,
        "wires": []
    },
    {
        "id": "70241760.784938",
        "type": "template",
        "z": "1938a855.3df608",
        "name": "template JSON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"nom\":\"Belleau\",\"prenom\":\"Francois\",\"age\":53}",
        "x": 585.0000076293945,
        "y": 325.0000042915344,
        "wires": [
            [
                "f3030c0.f0cfcf"
            ]
        ]
    },
    {
        "id": "7bf000f1.47a69",
        "type": "function",
        "z": "1938a855.3df608",
        "name": "msg.payload = {...}",
        "func": "msg.payload = {\n    \"nom\":\"Belleau\",\n    \"prenom\":\"Francois\",\n    \"age\":53\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 582.5000076293945,
        "y": 246.25000286102295,
        "wires": [
            [
                "7c27a2c4.83d85c"
            ]
        ]
    },
    {
        "id": "85f7c5a2.44e318",
        "type": "inject",
        "z": "1938a855.3df608",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 390.00000762939453,
        "y": 326.2500057220459,
        "wires": [
            [
                "70241760.784938"
            ]
        ]
    },
    {
        "id": "de9e781b.5042d8",
        "type": "inject",
        "z": "1938a855.3df608",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 390.00000762939453,
        "y": 248.75000381469727,
        "wires": [
            [
                "7bf000f1.47a69"
            ]
        ]
    },
    {
        "id": "bc01a0c7.92cc7",
        "type": "template",
        "z": "1938a855.3df608",
        "name": "template JSON en objet",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"nom\":\"Belleau\",\n    \"prenom\":\"Francois\",\n    \"age\":{{payload}}\n}",
        "x": 518.5,
        "y": 517.75,
        "wires": [
            [
                "e293f7ca.1d6c08"
            ]
        ]
    },
    {
        "id": "e6197412.178868",
        "type": "function",
        "z": "1938a855.3df608",
        "name": "msg.payload = {...}",
        "func": "msg.payload = {\n    \"nom\":\"Belleau\",\n    \"prenom\":\"Francois\",\n    \"age\":msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 588.7500076293945,
        "y": 426.2500057220459,
        "wires": [
            [
                "b0fe0d84.97837"
            ]
        ]
    },
    {
        "id": "50c07931.dde398",
        "type": "inject",
        "z": "1938a855.3df608",
        "name": "",
        "topic": "",
        "payload": "53",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 320.25,
        "y": 426,
        "wires": [
            [
                "e6197412.178868",
                "bc01a0c7.92cc7",
                "fdf1968f.020e68"
            ]
        ]
    },
    {
        "id": "b0fe0d84.97837",
        "type": "debug",
        "z": "1938a855.3df608",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 949.75,
        "y": 427,
        "wires": []
    },
    {
        "id": "11442b9c.1d37c4",
        "type": "comment",
        "z": "1938a855.3df608",
        "name": "JSON",
        "info": "http://json.org/\n\nhttps://fr.wikipedia.org/wiki/JavaScript_Object_Notation\n\n",
        "x": 344,
        "y": 64,
        "wires": []
    },
    {
        "id": "7e9b8811.816478",
        "type": "template",
        "z": "1938a855.3df608",
        "name": "template JSON en texte",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "{\n    \"nom\":\"Belleau\",\n    \"prenom\":\"Francois\",\n    \"age\":inconnu\n}",
        "x": 509,
        "y": 618,
        "wires": [
            [
                "b88d575.f4772a8"
            ]
        ]
    },
    {
        "id": "ceee71f1.31119",
        "type": "json",
        "z": "1938a855.3df608",
        "name": "texte vers JSON",
        "x": 773,
        "y": 625,
        "wires": [
            [
                "90a78563.6f5878"
            ]
        ]
    },
    {
        "id": "4a0be0b6.b5f42",
        "type": "debug",
        "z": "1938a855.3df608",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 979,
        "y": 519,
        "wires": []
    },
    {
        "id": "90a78563.6f5878",
        "type": "debug",
        "z": "1938a855.3df608",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 968,
        "y": 624,
        "wires": []
    },
    {
        "id": "e293f7ca.1d6c08",
        "type": "json",
        "z": "1938a855.3df608",
        "name": "JSON vers texte",
        "x": 778,
        "y": 519,
        "wires": [
            [
                "4a0be0b6.b5f42"
            ]
        ]
    },
    {
        "id": "fdf1968f.020e68",
        "type": "function",
        "z": "1938a855.3df608",
        "name": "msg.age = msg.payload;",
        "func": "msg.age = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 253,
        "y": 613,
        "wires": [
            [
                "7e9b8811.816478"
            ]
        ]
    },
    {
        "id": "b88d575.f4772a8",
        "type": "function",
        "z": "1938a855.3df608",
        "name": "msg.payload.replace(\"inconnu\", msg.age);",
        "func": "msg.payload = msg.payload.replace(\"inconnu\", \"53\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 697,
        "wires": [
            [
                "ceee71f1.31119"
            ]
        ]
    },
    {
        "id": "7c27a2c4.83d85c",
        "type": "debug",
        "z": "1938a855.3df608",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 917,
        "y": 244,
        "wires": []
    },
    {
        "id": "f3030c0.f0cfcf",
        "type": "debug",
        "z": "1938a855.3df608",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 332,
        "wires": []
    }
]
