API-pubmed
[
    {
        "id": "373df0c6.68241",
        "type": "tab",
        "label": "API-pubmed"
    },
    {
        "id": "955716c2.a849b8",
        "type": "http request",
        "z": "373df0c6.68241",
        "name": "GET https://eutils.ncbi.nlm.nih.gov/entrez/eutils",
        "method": "GET",
        "ret": "obj",
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&id={{{payload.id}}}&retmode=json",
        "tls": "",
        "x": 475,
        "y": 201.00000762939453,
        "wires": [
            [
                "cea0e121.bf133"
            ]
        ]
    },
    {
        "id": "d87968f5.418ca8",
        "type": "debug",
        "z": "373df0c6.68241",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 812.0000114440918,
        "y": 289.7500114440918,
        "wires": []
    },
    {
        "id": "d782ee30.b5ab2",
        "type": "http response",
        "z": "373df0c6.68241",
        "name": "",
        "x": 792.0000152587891,
        "y": 381.2500123977661,
        "wires": []
    },
    {
        "id": "8f654c5f.e27a6",
        "type": "function",
        "z": "373df0c6.68241",
        "name": "msg.res === undefined",
        "func": "if (msg.res === undefined) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 544.2500152587891,
        "y": 383.2500123977661,
        "wires": [
            [
                "d782ee30.b5ab2"
            ]
        ]
    },
    {
        "id": "6bc4575d.73e948",
        "type": "http in",
        "z": "373df0c6.68241",
        "name": "",
        "url": "/pubmed",
        "method": "get",
        "swaggerDoc": "",
        "x": 148.75,
        "y": 202.2500057220459,
        "wires": [
            [
                "4c4a099f.948c58"
            ]
        ]
    },
    {
        "id": "cea0e121.bf133",
        "type": "function",
        "z": "373df0c6.68241",
        "name": "msg.payload.result[id]",
        "func": "msg.payload = msg.payload.result[msg.id];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549.2500076293945,
        "y": 288.5000114440918,
        "wires": [
            [
                "d87968f5.418ca8",
                "8f654c5f.e27a6"
            ]
        ]
    },
    {
        "id": "35528ecb.340732",
        "type": "inject",
        "z": "373df0c6.68241",
        "name": "",
        "topic": "",
        "payload": "{\"id\":\"18472304\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 165.25,
        "y": 114.00002002716064,
        "wires": [
            [
                "4c4a099f.948c58"
            ]
        ]
    },
    {
        "id": "5a49ead6.8b6254",
        "type": "comment",
        "z": "373df0c6.68241",
        "name": "https://www.ncbi.nlm.nih.gov/books/NBK25501/",
        "info": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&id=18472304&retmode=json\n\nhttp://nodered.bio2rdf.org:8080/pubmed?id=18472304",
        "x": 502.5,
        "y": 45.25000858306885,
        "wires": []
    },
    {
        "id": "4c4a099f.948c58",
        "type": "function",
        "z": "373df0c6.68241",
        "name": "msg.id",
        "func": "msg.id = msg.payload.id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350.00000381469727,
        "y": 131.25000190734863,
        "wires": [
            [
                "955716c2.a849b8"
            ]
        ]
    }
]
